<template>
	<div @click="clicked">
		<v-card class="mx-auto" :dark="isDark" max-width="400" id="card">
			<v-card-title>
				<span class="title font-weight-light">קלפים נגד בסמחניקים</span>
			</v-card-title>

			<v-card-text class="headline font-weight-bold"> "{{ text }}" </v-card-text>

			<v-card-actions class="card-actions" v-if="!isDark">
				<v-list-item class="grow">
					<v-list-item-avatar color="grey darken-3">
						<v-img
							class="elevation-6"
							src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
						></v-img>
					</v-list-item-avatar>

					<v-list-item-content>
						<v-list-item-title>{{ currUser }}</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-card-actions>
		</v-card>
	</div>
</template>
<script>
export default {
	props: {
		isDark: {
			type: Boolean
		},
		text: {
			type: String,
			default: 'ללקק את החור תחת'
		}
	},
	data() {
		return {};
	},
	methods: {
		clicked() {
			this.$emit('click');
		}
	},
	computed: {
		currUser() {
			if (sessionStorage.user) {
				return JSON.parse(sessionStorage.user).name;
			}

			return 'סגל (קו)רץ';
		}
	}
};
</script>
<style scoped>
#card {
	transition: 2s;
	height: 30vh;
}

.card-actions {
	position: absolute;
	bottom: 2vh;
}
</style>
