<template>
	<v-container id="deck">
		<v-row no-gutters justify="space-around">
			<v-col v-for="currCard in currDeck" :key="currCard" cols="12" md="2">
				<Card min-height="40" :text="currCard" @click="chooseWinner(currCard)">
					{{ currCard.text }}
				</Card>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>
import Card from './Card.vue';
import answers from '../data/completions.js';

export default {
	components: {
		Card
	},
	sockets: {
		updateCards: function(newDeck) {
			this.currDeck = newDeck;
		},
		waitForAll: function() {
			alert('סבלנות ברקון, עוד לא כולם שיחקו');
		},
		declareWinner: function(winnerCard) {
			alert('יש לנו מנצח!');
			this.currDeck = [winnerCard];
		},
		nextSituation: function(judgeName) {
			this.currDeck = [];
		}
	},
	data() {
		return {
			currDeck: []
		};
	},
	methods: {
		chooseWinner(winnerCard) {
			this.$socket.emit('chooseWinner', winnerCard);
		}
	}
};
</script>
<style scoped></style>
