<template>
	<v-container id="deck">
		<v-row no-gutters justify="space-around">
			<v-col v-for="currCard in currDeck" :key="currCard" cols="12" md="2">
				<Card min-height="40" @click="chooseCard(currCard)" :text="currCard">
					{{ currCard.text }}
				</Card>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>
import Card from './Card.vue';
import answers from '../data/completions.js';

export default {
	data() {
		return {
			currDeck: [],
			possibleAnswers: []
		};
	},
	components: {
		Card
	},
	sockets: {
		showCard: function(data) {
			sessionStorage.setItem('user', data);
			this.$router.push({ path: '/board' });
		},
		switchCard: function(chosenCard) {
			this.switchCard(chosenCard);
		},
		showPlayedAlready: function() {
			alert('שיחקת כבר אח יקר');
		}
	},
	created() {
		this.possibleAnswers = answers;
		for (let i = 0; i < 5; i++) {
			this.takeInitCard();
		}
	},
	methods: {
		chooseCard(chosenCard) {
			this.$socket.emit(
				'exposeCardToJudge',
				JSON.stringify({ card: chosenCard, user: JSON.parse(sessionStorage.user) })
			);
		},

		getRandomInt(max) {
			return Math.floor(Math.random() * Math.floor(max));
		},
		removeCard(cardToRemove) {
			this.currDeck = this.currDeck.filter(card => card !== cardToRemove);
		},

		switchCard(cardToRemove) {
			let newDeck = [...this.currDeck];
			let currCardIndex = newDeck.indexOf(cardToRemove);
			newDeck[currCardIndex] = this.takeNewCard();
			this.currDeck = newDeck;
		},

		takeNewCard() {
			if (this.possibleAnswers.length) {
				const newCardIndex = this.getRandomInt(this.possibleAnswers.length - 1);
				let newCard = this.possibleAnswers[newCardIndex];

				this.possibleAnswers.splice(newCardIndex, 1);

				return newCard;
			} else {
				return '';
			}
		},

		takeInitCard() {
			if (this.possibleAnswers.length) {
				const newCardIndex = this.getRandomInt(this.possibleAnswers.length - 1);
				this.currDeck.push(this.possibleAnswers[newCardIndex]);

				this.possibleAnswers.splice(newCardIndex, 1);
			}
		}
	}
};
</script>
<style scoped></style>
