<template>
	<v-data-table hide-default-footer :headers="headers" :items="users" class="elevation-1">
		<template v-slot:item.score="{ item }">
			<v-chip color="secondary" dark>{{ item.score }}</v-chip>
		</template>
	</v-data-table>
</template>

<script>
export default {
	props: {
		users: {
			type: Array,
			required: true
		},
		judge: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			headers: [
				{ text: 'שם', value: 'name', sortable: false },
				{ text: 'נקודות', value: 'score', align: 'start' }
			]
		};
	},
	methods: {}
};
</script>

<style scoped>
.selectedRow {
	background-color: darkturquoise;
	font-weight: bold;
}
</style>
