<template>
	<v-app>
		<router-view />
	</v-app>
</template>

<script>
import Board from './components/Board.vue';

export default {
	name: 'App',
	sockets: {
		loginResponse: function(data) {
			sessionStorage.setItem('user', data);
			this.$router.push({ path: '/board' });
		},

		connect: function() {
			console.log('socket connected');
			if (sessionStorage.user) {
				this.$socket.emit('updateSocket', sessionStorage.user);
				this.$router.push('/board');
			} else {
				this.$router.push('/');
			}
		}
	},
	components: {
		Board
	},

	data: () => ({
		//
	})
};
</script>
