<template>
	<div v-shortkey.once="['enter']" @shortkey="login">
		<v-card class="mx-auto" max-width="400" id="card">
			<v-card-title>
				<span class="title font-weight-light">קלפים נגד בסמחניקים</span>
			</v-card-title>

			<v-card-text class="headline font-weight-bold">
				<!-- "{{ text }}" -->
				<v-text-field v-model="username" placeholder="תרגשו אותי עם שם יפה"></v-text-field>
				<center>
					<v-btn @click="login">יאללה ריגשתי, בוא נתחיל</v-btn>
				</center>
			</v-card-text>

			<v-card-actions class="card-actions">
				<v-list-item class="grow">
					<v-list-item-avatar color="grey darken-3">
						<v-img
							class="elevation-6"
							src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
						></v-img>
					</v-list-item-avatar>

					<v-list-item-content>
						<v-list-item-title>שקד הדס</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-card-actions>
		</v-card>
	</div>
</template>

<script>
// @ is an alias to /src

export default {
	data() {
		return {
			username: ''
		};
	},
	components: {},

	methods: {
		login() {
			if (this.username) {
				this.$socket.emit('login', this.username);
			}
		}
	}
};
</script>

<style scoped>
#card {
	transition: 2s;
	height: 30vh;
}

.card-actions {
	position: absolute;
	bottom: 2vh;
}
</style>
